body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
  transition: background 0.4s ease;
}

.container {
  margin-top: 150px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #666;
}

